USE [pyth]
GO
/****** Object:  Table [dbo].[med_store]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[med_store](
	[medicine_id] [int] NOT NULL,
	[store_id] [int] NOT NULL,
	[stock_in_hand] [int] NOT NULL,
 CONSTRAINT [PK_MED_STORE] PRIMARY KEY CLUSTERED 
(
	[medicine_id] ASC,
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[medicine_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_name] [varchar](100) NOT NULL,
	[expiry_date] [date] NOT NULL,
	[manufactured_date] [date] NOT NULL,
	[medicine_type] [varchar](50) NOT NULL,
	[key_ingredient] [varchar](100) NOT NULL,
	[standard_price] [smallmoney] NOT NULL,
 CONSTRAINT [PK__medicine__E7148EBB35D8F8D4] PRIMARY KEY CLUSTERED 
(
	[medicine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_id] [int] NOT NULL,
	[store_id] [int] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[order_status] [char](1) NOT NULL,
	[total_price] [smallmoney] NOT NULL,
	[orgin] [varchar](100) NOT NULL,
	[destination] [varchar](100) NOT NULL,
	[actual_delivery_time] [int] NOT NULL,
	[delivery_time] [int] NOT NULL,
 CONSTRAINT [PK__orders__46596229371A18FC] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] NOT NULL,
	[role_type] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stores]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores](
	[store_review] [nvarchar](max) NULL,
	[store_password] [varchar](50) NOT NULL,
	[store_username] [varchar](50) NOT NULL,
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_name] [varchar](100) NOT NULL,
	[store_branch] [varchar](100) NOT NULL,
	[store_address] [varchar](100) NOT NULL,
	[store_contact] [varchar](15) NOT NULL,
	[store_email] [varchar](100) NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK__stores__A2F2A30C84BFC13F] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__stores__01B63A847F91886E] UNIQUE NONCLUSTERED 
(
	[store_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__stores__7962E717637D0A16] UNIQUE NONCLUSTERED 
(
	[store_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendor_med]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_med](
	[vendor_med_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NOT NULL,
	[vendor_id] [int] NOT NULL,
	[med_unit_price] [smallmoney] NOT NULL,
	[min_threshold] [int] NOT NULL,
	[max_threshold] [int] NOT NULL,
 CONSTRAINT [PK_vendor_med_1] PRIMARY KEY CLUSTERED 
(
	[vendor_med_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendors]    Script Date: 12-12-2022 07:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendors](
	[vendor_password] [varchar](50) NOT NULL,
	[vendor_username] [varchar](50) NOT NULL,
	[vendor_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_name] [varchar](100) NOT NULL,
	[vendor_location] [varchar](100) NOT NULL,
	[vendor_address] [varchar](100) NOT NULL,
	[vendor_email] [varchar](100) NULL,
	[vendor_contact] [varchar](15) NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK__vendors__0F7D2B78C8D3E668] PRIMARY KEY CLUSTERED 
(
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__vendors__81BAAC85B177359A] UNIQUE NONCLUSTERED 
(
	[vendor_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__vendors__EA8D1B7C05343F1D] UNIQUE NONCLUSTERED 
(
	[vendor_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[med_store]  WITH CHECK ADD  CONSTRAINT [FK__med_store__medic__3A81B327] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([medicine_id])
GO
ALTER TABLE [dbo].[med_store] CHECK CONSTRAINT [FK__med_store__medic__3A81B327]
GO
ALTER TABLE [dbo].[med_store]  WITH CHECK ADD  CONSTRAINT [FK__med_store__store__3B75D760] FOREIGN KEY([store_id])
REFERENCES [dbo].[stores] ([store_id])
GO
ALTER TABLE [dbo].[med_store] CHECK CONSTRAINT [FK__med_store__store__3B75D760]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__store_id__49C3F6B7] FOREIGN KEY([store_id])
REFERENCES [dbo].[stores] ([store_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__store_id__49C3F6B7]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__vendor_i__48CFD27E] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendors] ([vendor_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__vendor_i__48CFD27E]
GO
ALTER TABLE [dbo].[stores]  WITH CHECK ADD  CONSTRAINT [FK__stores__role_id__37A5467C] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[stores] CHECK CONSTRAINT [FK__stores__role_id__37A5467C]
GO
ALTER TABLE [dbo].[vendor_med]  WITH CHECK ADD  CONSTRAINT [FK__vendor_me__medic__440B1D61] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([medicine_id])
GO
ALTER TABLE [dbo].[vendor_med] CHECK CONSTRAINT [FK__vendor_me__medic__440B1D61]
GO
ALTER TABLE [dbo].[vendor_med]  WITH CHECK ADD  CONSTRAINT [FK__vendor_me__vendo__44FF419A] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendors] ([vendor_id])
GO
ALTER TABLE [dbo].[vendor_med] CHECK CONSTRAINT [FK__vendor_me__vendo__44FF419A]
GO
ALTER TABLE [dbo].[vendors]  WITH CHECK ADD  CONSTRAINT [FK__vendors__role_id__412EB0B6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[vendors] CHECK CONSTRAINT [FK__vendors__role_id__412EB0B6]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [CK_role_type] CHECK  (([role_type]='Vendor' OR [role_type]='Store'))
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [CK_role_type]
GO
